<h2>{{title}}</h2>

<div class="container">
    <h4>Model Driven Form with Formbuilder</h4>
<form [formGroup]="userModelFormFB" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" #refName>
             <!-- <b>{{refName.className}}</b>  -->
             <div  class="alert alert-danger" *ngIf="userModelForm.controls['name'].hasError('required')">
               Please enter a name
            </div>
            <div  class="alert alert-danger" *ngIf="userModelForm.controls['name'].hasError('minlength')">
               Please enter atleast 4 characters
            </div>
             <div  class="alert alert-danger" *ngIf="userModelForm.controls['name'].hasError('maxlength')">
               Name cannot exceed more that 10 characters
            </div>

        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" formControlName="street">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>PostalCode</label>
                <input type="text" class="form-control" formControlName="postalCode">
                 <div  class="alert alert-danger" *ngIf="userModelFormFB.controls['address'].controls['postalCode'].hasError('pattern')">
                    Postal Code format is 5 digit
                </div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!userModelForm.valid">Submit</button>
    </form> 
</div>


<div class="container">
    <h4>Model Driven Approach</h4>
     <form [formGroup]="userModelForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" #refName>
             <!-- <b>{{refName.className}}</b>  -->
             <div  class="alert alert-danger" *ngIf="userModelForm.controls['name'].hasError('required')">
               Please enter a name
            </div>
            <div  class="alert alert-danger" *ngIf="userModelForm.controls['name'].hasError('minlength')">
               Please enter atleast 4 characters
            </div>
             <div  class="alert alert-danger" *ngIf="userModelForm.controls['name'].hasError('maxlength')">
               Name cannot exceed more that 10 characters
            </div>

        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        <div formGroupName="address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" formControlName="street">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label>PostalCode</label>
                <input type="text" class="form-control" formControlName="postalCode">
                 <div  class="alert alert-danger" *ngIf="userModelForm.controls['address'].controls['postalCode'].hasError('pattern')">
                    Postal Code format is 5 digit
                </div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!userModelForm.valid">Submit</button>
    </form> 
</div>
<hr>




<hr>
<div class="container">
    <h4>Template Driven Approach</h4>
     <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" minlength="4" name="name" [ngModel]="myName" required #nameRef="ngModel">
             <!--<b>{{nameRef.className}}</b> -->
            
            <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
                <div [hidden]="!nameRef.errors.required">Please enter a name</div>
                <div [hidden]="!nameRef.errors.minlength">Min length is 4</div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ngModel>
        </div>
        <div ngModelGroup="address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street" ngModel>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" ngModel>
            </div>
            <div class="form-group">
                <label>PostalCode</label>
                <input type="text" #refPincode="ngModel" pattern="^[1-9][0-9]{4}" class="form-control" name="postalcode" ngModel>
                <div *ngIf="refPincode.errors && (refPincode.dirty || refPincode.touched)" class="alert alert-danger">
                    <div [hidden]="!refPincode.errors.pattern">Please Enter 5 digit number</div>

                </div>
            </div>
        </div>

        
        <button class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
    </form> 




</div>
<hr>
<img [src] = "imageLink">
<div [class.myClass] = "applyClass">Apply Class</div>
<div [style.color]="applyBlue? 'blue':'orange'" >Apply Blue</div>
<button (click)="onClick(demoInput)">Click Me</button>
<input type="text" #demoInput>
<hr>
 <div>

    <div>Uppercase
        <h1>{{name | uppercase}}</h1>
    </div>
    <hr>
    <div>Lowercase
        <h1>{{name | lowercase}}</h1>
    </div>
    <hr>
    <div>Slice
        <h1>{{name | slice:3:7}}</h1>
    </div>

    <div>Slice
        
        <h1>{{8.99 | currency:'inr':true}}</h1>
    </div>

</div> 
<hr>
<div>
    Two Way data Binding
    <div>
         <input type ="text" [(ngModel)]="fname" />
        <input type ="text" [(ngModel)]="lname" /> 
        
        fullname: {{fname}} {{lname}}
    </div>
</div>
<hr>
<div>Ng For
    <ul *ngFor="let color of colors">
        <li>{{color}} </li>
    </ul>
</div>
<hr>
<div>Ng-Switch
    <div [ngSwitch]='color'>
        <p *ngSwitchCase="'red'">red</p>
        <p *ngSwitchCase="'green'">green</p>
        <p *ngSwitchDefault>Invalid Color</p>
    </div>
</div>
<hr>
<div>Ng-If Directive
    <div *ngIf="showElement">Show Element<div>
</div>
<hr>
<div >Ng-Class
    <button (click)="toggle()">Toggle Color</button>
    <div [ngClass]="{classOne:cone, classTwo:ctwo}">Hello how are you</div>
</div>
<hr>
<div>
    ng-Style

    <p [ngStyle]="{'fontSize': fontSize, 'fontStyle':fontStyle}">Checking Font</p>
</div>
<hr>
<div>
    Input and Output
    <div>
        Child Component
        <input type="text" #ctext (keyup)="onChange(ctext.value)">
        <div>The value from Parent Componet is: {{parentData}}</div>
    </div>
</div>
